@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

$Roboto: 'Roboto', sans-serif;

//colors
$dark: #222;
$red: #E31738;
$darkred: #bf142e;
$light: #f8f8f8;
$lightgrey: #eaeaea;
$grey: #4f4f4f;

//height
$headerHeight: 88px;// 68px;
$footerHeight: 40px;